
.root {
    -fx-background-radius: 10;
}
.background{
    -fx-background-color: #1d1d1d;
}

.header{
    -fx-font-size: 42pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * Push Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-background-radius: 20;
}

.button:hover{
   -fx-background-color: linear-gradient(#2A5058, #61a2b1);
   -fx-background-radius: 20;
}

.button:pressed, .button:default:hover:pressed
{
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-text-fill: #1d1d1d;
    -fx-background-radius: 20;
}

.button:focused
{
    -fx-border-color: linear-gradient(#2A5058, #61a2b1);
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
    -fx-border-radius: 20;
}

.button:disabled, .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default
{
    -fx-background-color: #008287;
    -fx-text-fill: #ffffff;
}

.button:default:hover{
    -fx-background-color: #219297;
}
